 body {
    background-color: #FFF8F2;
    /* відалити потім */
    font-family: 'Inter-Regular';
    font-size: 18px;
    line-height: 2;
    color: #1C0E0D;

 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 a {
    text-decoration: none;
    color: inherit;
 }




 .header {
    max-width: 1190px;
    margin-top: 40px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins-Regular';
 }

 .logo {
    display: flex;
    text-align: center;
 }

 .menu__list {
    display: flex;
    align-items: center;
 }

 .hov {
    transition: .3s;
    background-size: contain;
 }

 .hov:hover {
    color: #FF553E;
    font-size: 20px;
    text-decoration: underline;
    margin-top: -15px;
 }

 .menu__list-link {
    padding: 0 48px 0 20px;
    line-height: 1.3;
 }

 .log {
    color: #FF553E;
    padding-left: 93px;
    transition: .5s;
 }

 .log:hover {
   color: #1C0E0D;
   text-decoration: underline;
 }

 .sing-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #FF553E;
    border: #FF553E 3px solid;
    text-align: center;
    width: 133px;
    height: 60px;
    transition: .5s;
 }

 .a-sign {
    color: #FFF8F2;
    padding: 0;
    transition: .7s;
 }

 .sing-item:hover {
   background-color: #FFF8F2;
   border: #FF553E 3px solid;
 }

 .a-sign:hover {
   font-size: 22px;
   color: #FF553E;
 }