 body {
    font-family: 'Inter-Regular';
    font-size: 18px;
    line-height: 2;
    color: #1C0E0D;
    margin: 0;
    padding: 0;
 }


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 a {
    text-decoration: none;
    color: inherit;
 }

 .container {
    background-color: #FFF8F2;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 1;

    position: relative;
    overflow: hidden;
 }

 .wrapper {
    position: relative;
 }

 .parallax-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
 }

 .parallax-item,
 .item-parallax {
    position: absolute;
    height: auto;
    transition: transform 0.1s ease-out;
 }

 .item1 {
    top: 16%;
    left: 22%;
 }

 .item2 {
    top: 31%;
    right: 26%;
 }

 .item3 {
    top: 20%;
    left: 70%;
 }

 .item4 {
    top: 26%;
    left: 31%;
 }

 .item5 {
    top: 13%;
    left: 15%;
 }

 .item6 {
    top: 33%;
    left: 57%;
 }

 .item7 {
    top: 40%;
    left: 30%;
 }

 .item8 {
    top: 14%;
    left: 78%;
 }

 .item9 {
    top: 5%;
    left: 97%;
 }

 .item10 {
    top: 25%;
    left: 0;
 }

 .im1 {
    top: 73%;
    left: 50%;
 }

 .im2 {
    top: 70%;
    left: 73%;
 }

 .im3 {
    top: 58%;
    left: 0;
 }

 .header {
    max-width: 1190px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins-Regular';
 }

 .logo {
    display: flex;
    text-align: center;
 }

 .logo-img {
    transition: 1.2s;
 }

 .logo-img:hover {
    transform: rotateY(180deg) translateY(25px);

 }

 .menu {
    position: relative;
 }

 .menu__list {
    display: flex;
    align-items: center;
 }

 .menu__list-item {
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
 }

 .hov {
    transition: .3s;
    position: relative;
    display: inline-block;
 }

 .menu__list-link {
    padding: 10px 48px 10px 20px;
    line-height: 1.3;
    display: block;
    transition: transform 0.3s ease;
    cursor: inherit;
 }

 .hov:hover .menu__list-link {
    transform: translateY(-10px);
    color: #FF553E;
    text-decoration: underline;
    z-index: 0;
 }

 .log {
    color: #FF553E;
    padding-left: 93px;
    transition: .5s;
 }

 .menu__list-link.log:hover {
    color: inherit;
    text-decoration: underline;
 }

 .first-btn {
    background-color: #FF553E;
    border: #FF553E 3px solid;
    width: 133px;
    height: 60px;
    border-radius: 40px;
    transition: .8s;
    color: #FFF8F2;
    text-align: center;
    padding: 0;
    font-family: 'Poppins-Medium';
    padding: 0;
    cursor: pointer;
 }

 .first-btn:hover {
    font-family: 'Poppins-Regular';
    color: #FF553E;
    background-color: #FFF8F2;
    border: #FF553E 3px solid;
    font-size: 17px;
 }

 .a-sign {
    padding: 0;
 }

 .content {
    height: 660px;
 }

 .content__top {
    margin: 200px auto 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .title {
    font-size: 64px;
    font-family: 'Poppins-Bold';
    text-align: center;
    margin: 0;
 }

 .pre-title {
    width: 592px;
    height: 72px;
    font-size: 20px;
    color: #40201E;
    text-align: center;
    margin: 0 0 68px 0;
 }

 .btn {
    width: 250px;
    height: 80px;
    border-radius: 40px;
    background-color: #FF553E;
    border: 3px solid #FF553E;
    color: #FFF8F2;
    font-family: 'Poppins-Medium';
    transition: .8s;
    cursor: pointer;
 }

 .btn:hover {
    background-color: #fef8f2;
    font-size: 17px;
    color: #FF553E;
 }

 .features {
    background-image: url(../images/BC.png);
 }

 .block-number {
    margin: auto;
    padding: 50px 300px 50px 0;
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
 }

 .user {
    position: relative;
    width: 170px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .number__user-nb {
    width: 140px;
    height: 111px;
    font-family: 'Poppins-SemiBold';
    font-size: 48px;
    margin: 0;
    transition: transform 1s ease, color 0.3s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;

 }

 .number__user-text {
    text-align: center;
    margin: 0;
    font-family: 'Poppins-Regular';
    font-size: 20px;
 }

 .expanding-line {
    position: absolute;
    left: 50%;
    margin: 30px 0;
    width: 10px;
    height: 5px;
    background-color: #f7865f;
    transform: translateX(-50%);
    transition: width 0.3s ease-out;
 }

 .block-text {
    margin: 107px auto 64px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 785px;
 }

 .features-text {
    font-size: 48px;
    font-family: 'Poppins-SemiBold';
    color: black;
    position: relative;
    display: inline-block;
    background: none;
 }

 .pre-text {
    text-align: center;
 }

 .three-blocks {
    width: 1170px;
    height: 256px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }

 .all-block {
    width: 370px;
    height: 257px;
    border-radius: 48px;
 }

 .img-bl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    background-color: #ffffffa8;
    border-radius: 24px;
    margin: 32px 0 20px 28px;
 }

 .block-img {
    transition: .7s;
 }

 .block-img:hover {
    transform: rotateY(180deg);
 }

 .one {
    background-color: #70D0DC;
 }

 .two {
    background-color: #7562E0;
 }

 .three {
    background-color: #FA865F;
 }

 .pre-list {
    font-family: 'Poppins-SemiBold';
    font-size: 28px;
    color: #fff;
    margin: 0 0 10px 30px;
    line-height: 28px;
 }

 .after-list {
    color: #fff;
    margin: 0 0 0 30px;
    line-height: 26px;
 }



 .container-two {
    max-width: 1920px;
    margin: 0 auto;
    z-index: 1;
 }

 .analytics-reporting {
    margin: 217px auto;
    width: 1220px;
    height: 800px;
    display: flex;
    justify-content: space-between;
 }

 .analytics__block {
    width: 400px;
 }

 .reporting__block {
    width: 568px;
 }

 .title__text-img {
    position: relative;
    top: 10%;
    left: 40%;
    z-index: -1;
 }

 .title-text {
    font-family: 'Poppins-SemiBold';
    font-size: 48px;
    margin: 0;
    line-height: 1.4;
 }

 .after-text {
    margin: 10px 0 30px 0;
 }


 .auto,
 .custo,
 .stat {
    margin: 20px 0;
    display: flex;
    align-items: center;
 }

 .auto__img,
 .custo__img,
 .stat__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    border-radius: 24px;
 }

 .auto__img {
    background-color: #FA855C;
 }

 .custo__img {
    background-color: #7AD6E1;
 }

 .stat__img {
    background-color: #FFC954;
 }

 .auto-text,
 .custo-text,
 .stat-text {
    font-family: 'Poppins-SemiBold';
    font-size: 28px;
    margin: 0;
    padding-left: 25px;
 }

 .auto__text-title,
 .custo__text-title,
 .stat__text-title {
    padding-left: 25px;
    margin: 0;
 }

 .img__block {
    position: relative;
    top: -225%;
    left: -8%;
    z-index: -1;
 }

 .item15 {
    position: relative;
    top: -9%;
    left: 70%;
 }

 .img11 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 179px;
    background-color: #fff;
    border-radius: 10px;
    left: -30%;
    top: -9%;
    position: relative;
    box-shadow: 17px 17px 20px rgba(0, 0, 0, 0.3);

 }

 .item12 {
    position: relative;
    left: 30%;
    top: -18%;
 }

 .item13 {
    position: relative;
    left: 9%;
    top: -18%;
 }

 .item14 {
    position: relative;
    left: -90%;
    top: -112%;
    z-index: -1;
 }

 .item16 {
    position: relative;
    left: -36%;
    top: -217%;
 }

 .item17 {
    position: relative;
    left: 93%;
    top: -135%;
 }

 .tracker {
    background-color: #F3FDFE;
    position: relative;
 }

 .im__3d,
 .im__3d2 {
    position: absolute;
    z-index: 0;
 }

 .im__3d {
    top: -3%;
    left: 83.3%;
 }

 .im__3d2 {
    top: 35%;
    left: 0;
 }

 .block__tracker-cont {
    margin: 0 auto;
    padding-bottom: 100px;
    width: 1220px;
 }

 .tracker__block-text {
    position: relative;
    width: 707px;
    padding: 100px 0 0 20px;
 }

 .tracker__text {
    position: relative;
    font-family: 'Poppins-SemiBold';
    font-size: 48px;
    margin: 30px 0 20px 0;
    z-index: 2;
 }

 .tracker__img {
    position: absolute;
    left: 32%;
    top: 55%;
    z-index: 1;
 }

 .tracker__text-after {
    margin: 0 0 64px 0;
 }

 .tracker__block-tabl {
    display: flex;
 }

 .block__magna {
    position: relative;
    width: 708px;
    display: flex;
    flex-direction: column;
 }

 .block__time,
 .block__expenses,
 .block__wallet {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
 }

 .block__expenses {
    justify-content: flex-end;
 }

 .block__im-cl,
 .block__im-exp,
 .block__im-wall {
    width: 116px;
    height: 116px;
    border-radius: 28px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


    position: relative;

 }

 .block__im-cl {
    background-color: #5BC17F;
    box-shadow: 17px 17px 20px rgb(108 173 64 / 45%);

 }

 .block__im-exp {
    background-color: #FE6292;
    box-shadow: 17px 17px 20px rgb(243 104 199 / 41%);

 }

 .block__im-wall {
    background-color: #6B72FF;
    box-shadow: 17px 17px 20px rgb(109 144 250 / 45%);

 }

 .block__time-text,
 .block__expenses-text,
 .block__wallet-text {
    width: 300px;
    padding-left: 30px;
 }

 .text__clock,
 .text__exp,
 .text__wall {
    margin: 0 0 10px 0;
    font-family: 'Poppins-SemiBold';
    font-size: 28px;
 }

 .text__clock-after,
 .text__exp-after,
 .text__wall-after {
    margin: 0;
 }

 .vector__img,
 .vector__img-after {
    width: 90px;
    height: 125px;
 }

 .vector__img {
    position: absolute;
    left: 73%;
    top: 12%;
 }

 .vector__img-after {
    position: absolute;
    left: -7%;
    top: 47%;
 }

 .block__statistics {
    width: 690px;
    height: 620px;
    position: relative;
 }

 .Stat1 {
    border-radius: 28px;
    position: absolute;
    top: -7%;
    left: 15%;
    box-shadow: 17px 17px 20px rgba(0, 0, 0, 0.3);
 }

 .Stat2 {
    border-radius: 28px;
    position: absolute;
    top: 12%;
    left: 65%;
    box-shadow: 17px 17px 20px rgba(0, 0, 0, 0.3);
 }

 .Stat3 {
    border-radius: 28px;
    position: absolute;
    top: 43%;
    left: 20%;
    box-shadow: 17px 17px 20px rgba(0, 0, 0, 0.3);
 }

 .hover-area {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 176px;
    height: 176px;
    background: rgba(255, 0, 0, 0);
    cursor: pointer;
 }

 .bounce {
    transition: transform 0.6s ease-out;
    position: relative;
 }












 .flexible {
    width: 1220px;
    margin: 0 auto;
 }

 .block__flexible-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    position: relative;

 }

 .flexible__text {
    font-family: 'Poppins-SemiBold';
    font-size: 48px;
    z-index: 2;
    margin: 0;
 }

 .flexible__img {
    top: 20%;
    left: 64%;
    position: absolute;
    z-index: -1;
 }

 .flexible__text-after {
    margin: 0;
    color: #726d6d;
 }

 .block__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 50px;
    margin-top: 50px;

 }

 .switch {
    display: inline-block;
    position: relative;
    width: 84px;
    height: 40px;
 }

 .switch input {
    opacity: 1;
    width: 0;
    height: 0;
 }

 .move {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FF553E;
    border-radius: 24px;
    transition: .6s;
    cursor: pointer;
    box-shadow: 5px 4px 3px rgb(234 108 108 / 50%);
    border: 1px solid rgba(255, 85, 62, 0.2);

 }

 .move::before {
    position: absolute;
    content: '';
    background-color: rgb(243 209 204);
    width: 30px;
    height: 30px;
    border-radius: 40px;
    top: 4px;
    bottom: 0;
    left: 4px;
    box-shadow: inset 4px 4px 6px #b44141;
    transition: .6s;
 }

 input:checked+.move {
    background-color: rgba(255, 85, 62, 0.2);
    border: 1px solid rgb(237 221 219 / 26%);
    box-shadow: -5px 4px 3px rgb(234 108 108 / 68%);

 }

 input:checked+.move::before {
    background-color: #FF553E;
    transform: translateX(44px);
    box-shadow: inset -2px 5px 7px #400f0f;
 }

 .monthly,
 .yearly {
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
 }


 .block__tabl {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 65px 0 65px 0;
    position: relative;
 }

 .img__tabl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
 }

 .img__block-tabl,
 .img__block-tabl2 {
    position: absolute;
    will-change: transform;
    transition: transform 0.3s ease-out;
 }

 .img__block-tabl {
    top: -18%;
    left: 84%;
 }

 .img__block-tabl2 {
    position: absolute;
    top: 1%;
    left: 93%;
    z-index: -2;
 }

 .free__block,
 .premium__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 608px;
    border-radius: 110px;
    transition: background-color 0.3s ease, color 0.3s ease;
 }

 .free__block {
    background-color: #fff;
    border: 1px solid #FF553E;
 }

 .premium__block {
    background-color: #FF553E;
    border: #FF553E 1px solid;
 }

 .free__text,
 .premium__text {
    font-size: 48px;
    font-family: 'Inter24pt-SemiBold';
 }

 .premium__text {
    color: #fff;
 }

 .seat,
 .un-seat,
 .project,
 .un-project {
    font-size: 28px;
 }

 .seat,
 .project {
    color: #FF553E;
 }

 .un-seat,
 .un-project {
    color: #fff;
 }

 .price sup {
    font-family: 'Inter18pt-Medium';
    font-size: 16px;
    color: #FF553E;
    vertical-align: super;
    position: relative;
    top: -25px;
 }

 .price strong {
    font-size: 64px;
    color: #FF553E;
    font-family: 'Inter28pt-Bold';
 }

 .price span {
    font-size: 18px;
    color: #8080805e;
    margin-left: 5px;
    font-family: 'Inter18pt-Medium';
 }


 .price-two sup {
    font-family: 'Inter18pt-Medium';
    font-size: 16px;
    color: #fff;
    vertical-align: super;
    position: relative;
    top: -25px;
 }

 .price-two strong {
    font-size: 64px;
    color: #fff;
    font-family: 'Inter28pt-Bold';
 }

 .price-two span {
    font-size: 18px;
    color: #fffdfd78;
    margin-left: 5px;
    font-family: 'Inter18pt-Medium';
 }

 .free__btn,
 .un-premium__btn {
    width: 240px;
    height: 76px;
    border-radius: 40px;
    border: 1px solid #FF553E;
    font-family: 'Poppins-Medium';
    transition: .8s;
    cursor: pointer;
 }

 .free__btn {
    color: #fff;
    background-color: #FF553E;
    border: 1px solid #fff;
 }

 .free__btn:hover {
    background-color: #fef8f2;
    font-size: 15px;
    color: #FF553E;
    border: 1px solid #fff;

 }

 .un-premium__btn {
    color: #FF553E;
    background-color: #fff;
 }

 .un-premium__btn:hover {
    background-color: #FF553E;
    font-size: 15px;
    border: 1px solid #fff;
    color: #fff;
 }

 .white-background {
    background-color: #fff;
    color: #FF553E;
 }

 .red-background {
    background-color: #FF553E;
    color: #fff;
    border: #FF553E 1px solid;
 }

 .white-background .another-seat,
 .white-background .another-project,
 .white-background .another-price sup,
 .white-background .another-price strong {
    color: #FF553E;
 }

 .red-background .another-seat,
 .red-background .another-project,
 .red-background .another-price sup,
 .red-background .another-price strong {
    color: #fff;
 }

 .white-background .another__premium-text,
 .white-background .another__un-seat,
 .white-background .another__un-project,
 .white-background .another__price-two sup,
 .white-background .another__price-two strong {
    color: #FF553E;
 }

 .white-background .another__price-two span {
    color: #8080805e;
 }

 .red-background .another-free__btn {
    background-color: #fff;
    color: #FF553E;
 }

 .red-background .another-free__btn:hover {
    background-color: #FF553E;
    color: #fff;
 }

 .white-background .another-free__btn {
    background-color: #FF553E;
    color: #fff;
 }

 .white-background .another-free__btn:hover {
    background-color: #fff;
    color: #FF553E;
    border: 1px solid #FF553E;
 }

 .white-background .another-un-premium__btn {
    background-color: #FF553E;
    color: #fff;
 }

 .white-background .another-un-premium__btn:hover {
    background-color: #fff;
    color: #FF553E;
    border: 1px solid #FF553E;
 }